<div class="share-box pac-share">

<div class="pac-content-share">
  <span> Share this:</span>
</div>

  <a class="e pac-share-font" href="mailto:?subject=&amp;body=Check out this site http://pacconcept.com/">
    <i class="fas fa-paper-plane"></i>
    <span> Email</span>
  </a>

  <a class="f pac-share-font" href="https://www.facebook.com/sharer/sharer.php?u=http://pacconcept.com/" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
    <i class="fab fa-facebook-square fa-lg"></i>
    <span> Facebook</span>
  </a>

  <a class="l pac-share-font" href="https://www.linkedin.com/shareArticle?mini=true&url=http://pacconcept.com/" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
    <i class="fab fa-linkedin fa-lg"></i>
    <span> LinkedIn</span>
  </a>

  <a class="t pac-share-font" href="https://twitter.com/intent/tweet?text=&url=http://pacconcept.com/" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
    <i class="fab fa-twitter-square fa-lg"></i>
    <span> Twitter</span>
  </a>

</div>
