// custom styling
.pac-text-justify {
  text-align: justify;
}

.pac-container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .pac-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .pac-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .pac-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .pac-container {
    max-width: 1140px;
  }
}

.pac-slogan {
  padding-top: 20px;
  text-align: center;
  max-width: 100%;
  @media (min-width: 992px) {
    padding-top: 40px;
  }
}

.pac-slogan-container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .pac-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .pac-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .pac-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .pac-container {
    max-width: 1140px;
  }
}

section {
  .pac-navbar {
      margin-left: 200px;
    }
  .pac-header {
    i {
      margin-bottom: 2rem;
    }
  }
  .pac-content {
    font-size: 1.2rem;
    color: #4f5050;
      @media (max-width: 767.98px) {
        font-size: 1.1rem;
      }
      @media (max-width: 575.98px) {
        font-size: 1rem;
      }
      @media(min-width: 1281px) {
        padding-bottom: 20px;
      }
    }
    .pac-content-contact {
      font-size: 1rem;
      color: $white;
        @media (max-width: 767.98px) {
          font-size: 0.9rem;
        }
        @media (max-width: 575.98px) {
          font-size: 0.8rem;
        }
      }
}


.pac-section {
  padding: 20% 0 20%;
  @media(min-width:992px) {
    padding: 7% 0 7%;
  }
  min-height: 100vh;
  min-height: calc(100vh - 45px);
}

.service-icons {
  //position: relative;
  display: inline-block;
  font-size: 2.5em;
  width: 38px;
  @media (min-width: 576px) {
    font-size: 3rem;
    width: 45px;
  }
  @media (min-width: 768px) {
    font-size: 3.5em;
    width: 50px;
  }
}

.service-icon-top {
  height: 3rem;
  @media (max-width: 767.98px) {
    height: 2.5rem;
  }
  @media (max-width: 575.98px) {
    height: 2rem;
  }
}

#packdev {
  background-image: url('../img/services/packdev.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  @include background-cover;
  // Here you can change the position of the background image according to size
  background-position: center 150px;
  @media(min-width:992px) {
    background-position: center 50px;
  }
}

#vis {

}

.last-item {
  @media (max-width: 575.98px) {
    margin: -15px auto 0;
  }
}

.img-fluid-vis {
  max-width: 100%;
  height: auto;
  @media (max-width: 575.98px) {
    max-width: 115%;
  }
  @media(min-width: 1281px) {
    max-width: 110%;
  }
}

#draw {
  background-image: url('../img/services/draw.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 150px;
  @include background-cover;
  @media(min-width:992px) {
    background-position: center 50px;
  }
}

#cpart {
}

.img-fluid-cpart {
  max-width: 100%;
  height: auto;
  @media (max-width: 575.98px) {
    display: flex;
    max-width: 60%;
    margin: 0 auto 0;
  }
  @media(min-width: 1281px) {
//    padding-top: 30px;
  }
}

.last-cpart {
  @media (max-width: 575.98px) {
    margin: 15px auto 0;
  }
}

#slogan2 {
  position: relative;
}

.pac-slogan2 {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: justify;
  font-weight: bold;
  @media(min-width:992px) {
    padding-top: 25px;
  }
}

.pac-slogan2-text {
  font-size: 1.3rem;
  color: #4f5050;
//  padding-top: 50px;
    @media (max-width: 767.98px) {
      font-size: 1.1rem;
    }
    @media(min-width: 1281px) {
      padding-top: 30px;
    }
//    @media (max-width: 575.98px) {
//      font-size: 1.2rem;
//    }
}

#about {
  position: relative;  // for the monster
}

#pac-team {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 30%;
  @include background-cover;
  @media(min-width:992px) {
    height: 800px;
  }
}
.rounded-circle-team {
  border-radius: 50% !important;
  margin-bottom: 20px;
}
.pac-mail {
  padding-right: 3px;
}

.monster-div {
  position: absolute;
  right: 5px;
  bottom: -2px;
}

.monster {
  height: 5rem;
  @media (max-width: 767.98px) {
    height: 4rem;
  }
  @media (max-width: 575.98px) {
    height: 3rem;
  }
}

#contact {
  position: relative;  // for the absolute positioning of share buttons
  //outline: 1px #212529 solid;
}

.pac-contact-header {
  @media(min-width: 1281px) {
    margin: 100px auto 0;
  }
}

.pac-btn {
  font-size: 20px;
  padding: 14px 28px;
  margin: 55px auto 10px;
  @media (max-width: 767.98px) {
    margin: 27px auto 0;
    font-size: 18px;
    padding: 12px 25px;
  }
  @media (max-width: 575.98px) {
    margin: 40px auto 3;
    font-size: 15px;
    padding: 10px 19px;
  }
}

// Share Bar//

.pac-content-share{
  font-size: 0.8rem;
  color: #EEE;
    @media (min-width: 576px) {
      font-size: 0.9rem;
    }
    @media (min-width: 768px) {
      font-size: 1rem;
      padding-bottom: 2px;
    }
}

.pac-share {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  /*
  margin-top: 34px;
    @media (min-width: 576px) {
      margin-top: 44px;
    }
    @media (min-width: 768px) {
        margin-top: 79px;
    }
    @media (min-width: 1200px) {
        margin-top: 138px;
    }*/
}


.share-box a {
  display: inline-block;
  -webkit-box-shadow: 0 0 1px #777;
  box-shadow: 0 0 1px #777;
  padding: 2px 5px;
  margin-bottom: 5px;
  text-decoration: none;
  background-color: #EEE;
  border-radius: 3px;
  @media (min-width: 576px) {
    padding: 2px 5px;
    margin-right: 2px;
  }
  @media (min-width: 768px) {
    padding: 2px 5px;
    margin-right: 2px;
  }
  @media (min-width: 1200px) {
    padding: 3px 7px;
    margin-right: 3px;
  }
}
  .share-box a:hover {
    text-decoration: none;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear; }

.pac-share-font {
  font-size: 0.6rem;
  @media (min-width: 576px) {
    font-size: 0.7rem;
  }
  @media (min-width: 768px) {
    font-size: 0.7rem;
  }
}

.f {
  color: #3b5998; }
  .f:hover {
    color: #fff;
    background-color: #3b5998; }

.t {
  color: #4099FF; }
  .t:hover {
    color: #fff;
    background-color: #4099FF; }

.l {
  color: #0077b5; }
  .l:hover {
    color: #fff;
    background-color: #0077b5; }

.e {
  color: #444444; }
  .e:hover {
    color: #fff;
    background-color: #444444; }


// Privacy Policy & Terms and Conditions //

.page-header {
  text-align: center;
  color: black;
  background-image: url('../img/Background.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 30%;
  position: relative;
  height: 250px;
  margin-bottom: 50px;
  .intro-text {
    .logo {
      height: 140px;
      margin-top: 58px;
    }
  }
}
