.pac-text-justify {
  text-align: justify;
}

section {
  .pac-navbar {
      margin-left: 200px;
    }
  .pac-header {
    i {
      margin-bottom: 2rem;
    }
  }
  .pac-content {
    font-size: 1.2rem;
    color: #4f5050;
      @media (max-width: 767.98px) {
        font-size: 1.1rem;
      }
      @media (max-width: 575.98px) {
        font-size: 1rem;
      }
    }
    .pac-content-contact {
      font-size: 1.2rem;
      color: $white;
        @media (max-width: 767.98px) {
          font-size: 1.1rem;
        }
        @media (max-width: 575.98px) {
          font-size: 1rem;
        }
      }
}

.pac-section {
  padding-top: 3.5rem;
}

.service-icons {
  //position: relative;
  display: inline-block;
  font-size: 4em;
  width: 50px;
  @media (max-width: 767.98px) {
    font-size: 3.5em;
    width: 45px;
  }
  @media (max-width: 575.98px) {
    font-size: 3em;
    width: 38px;
  }
}

.service-icon-top {
  height: 3rem;
  @media (max-width: 767.98px) {
    height: 2.5rem;
  }
  @media (max-width: 575.98px) {
    height: 2rem;
  }
}

#packdev {
  background-image: url('../img/services/packdev.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 30%;
  @include background-cover;
  @media(min-width:992px) {
    height: 800px;
  }
  @media(min-width: 1281px) {
    height: 100vh;
  }
}

#vis {
//  background-image: url('../img/services/packdev.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 30%;
  @include background-cover;
  @media(min-width:992px) {
    height: 800px;
  }
  @media(min-width: 1281px) {
      height: 100vh;
    }
}

.last-item {
  @media (max-width: 575.98px) {
    margin: -15px auto 0;
  }
}

.img-fluid-vis {
  @media (max-width: 575.98px) {
    max-width: 115%;
  }
}

#draw {
  background-image: url('../img/services/draw.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 30%;
  @include background-cover;
  @media(min-width:992px) {
    height: 800px;
  }
  @media(min-width: 1281px) {
      height: 100vh;
    }
}

#cpart {
//  background-image: url('../img/services/draw.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 30%;
  @include background-cover;
  @media(min-width:992px) {
    height: 800px;
  }
  @media(min-width: 1281px) {
      height: 100vh;
    }
}

.img-fluid-cpart {
  @media (max-width: 575.98px) {
    display: flex;
    max-width: 60%;
    margin: 0 auto 0;
  }
}

.last-cpart {
  @media (max-width: 575.98px) {
    margin: 15px auto 0;
  }
}


#about {
  position: relative;
}

#pac-team {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 30%;
  @include background-cover;
  @media(min-width:992px) {
    height: 800px;
  }
}
.rounded-circle-team {
  border-radius: 50% !important;
  margin-bottom: 20px;
}

.monster-div {
  position: absolute;
  right: 5px;
  bottom: -2px;
}

.monster {
  height: 5rem;
  @media (max-width: 767.98px) {
    height: 4rem;
  }
  @media (max-width: 575.98px) {
    height: 3rem;
  }
}

.pac-btn {
  font-size: 20px;
  padding: 14px 28px;
  margin: 55px auto 10px;
  @media (max-width: 767.98px) {
    margin: 27px auto 0;
    font-size: 18px;
    padding: 12px 25px;
  }
  @media (max-width: 575.98px) {
    margin: 40px auto 3;
    font-size: 15px;
    padding: 10px 19px;
  }
}
