{%- assign assets_path = "/assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K6XVXLD');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ assets_path }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ assets_path }}css/agency.min.css" rel="stylesheet">

    <!-- Favicons for all -->
    <link rel="shortcut icon" href="{{ assets_path }}img/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{{ assets_path }}img/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="{{ assets_path }}img/favicon/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="{{ assets_path }}img/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ assets_path }}img/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ assets_path }}img/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ assets_path }}img/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ assets_path }}img/favicon/favicon-16.png">
    <link rel="apple-touch-icon" href="{{ assets_path }}img/favicon/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ assets_path }}img/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ assets_path }}img/favicon/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ assets_path }}img/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ assets_path }}img/favicon/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ assets_path }}img/favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ assets_path }}img/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ assets_path }}img/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ assets_path }}img/favicon/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ assets_path }}img/favicon/favicon-144.png">
    <meta name="msapplication-config" content="{{ assets_path }}img/favicon/browserconfig.xml">

    <!-- Touch Icons -->
    <meta name="msapplication-square70x70logo" content="{{ assets_path }}img/favicon/favicon-70.png">
    <meta name="msapplication-square150x150logo" content="{{ assets_path }}img/favicon/favicon-150.png">
    <meta name="msapplication-square310x310logo" content="{{ assets_path }}img/favicon/favicon-310.png">
    <meta name="msapplication-wide310x150logo" content="{{ assets_path }}img/favicon/favicon-rect-310.png">
<!--    <meta name="msapplication-TileColor" content="#EFC2A3">-->  <!-- underneath color for tile icons -->

    <!-- The content is only available at one URL, even though there is /#top-page (for search engine bots) -->
    <link rel="canonical" href="{{ page.url | prepend: site.url }}">

    <!-- Open Graph tags for Jekyll -->
    <meta property="fb:admins" content="henriette.peter.9">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}/{{ page.image }}">
    <meta property="og:site_name" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">

    <!-- Twitter Card tags for Jekyll -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}">
    <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">


  </head>

  <body id="page-top">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6XVXLD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ site.data.default.brand.name }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          {{ site.data.default.menu-string }}
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            {%- for link in site.data.default.nav -%}
            {% assign ws = '' %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {%- endfor -%}
          {% assign ws = '' %}
          </ul>
        </div>
      </div>
    </nav>
{{ content }}
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a class="js-scroll-trigger" href="/#page-top">
              <span class="copyright">{{ site.data.default.copyright }}
              </span>
            </a>
          </div>
<!--          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              {%- for sm in site.data.default.social-buttons -%}
              {% assign ws = '' %}
              <li class="list-inline-item">
                <a href="{{ sm.url }}">
                  <i class="{{ sm.icon }}"></i>
                </a>
              </li>
              {%- endfor -%}
            {% assign ws = '' %}
            </ul>
          </div> -->
          <div class="col-md-6">
            <ul class="list-inline quicklinks">
              {%- for ql in site.data.default.quicklinks -%}
              {% assign ws = '' %}
              <li class="list-inline-item">
                <a href="{{ ql.url }}">{{ ql.title }}</a>
              </li>
              {%- endfor -%}
            {% assign ws = '' %}
            </ul>
          </div>
        </div>
      </div>
    </footer>

    {% assign ws = '' %}
    {%- if page.layout == 'home' -%}
    <!-- Portfolio Modals -->
    {%- for project in site.projects -%}
{% assign ws = '' %}



    <!-- Modal {{ project.id | replace: '/projects/', '' }} -->
    <div class="portfolio-modal modal fade" id="portfolioModal{{ project.id | replace: '/projects/', '' }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">{{ project.title }}</h2>
                  <p class="item-intro text-muted">{{ project.description }}</p>
                  <img class="img-fluid d-block mx-auto" src="{{ assets_path }}{{ project.image }}" alt="">
                  {% assign ws = '' %}
                  {{- project.content -}}
                  {% assign ws = '' %}                  <ul class="list-inline">
                    <li>{{ site.data.default.modal.date-string }}{{ project.date | date: "%B %Y" }}</li>
                    <li>{{ site.data.default.modal.client-string }}{{ project.client }}</li>
                    <li>{{ site.data.default.modal.category-string }}{{ project.category }}</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="{{ site.data.default.modal.close-icon }}"></i>
                    {{ site.data.default.modal.close-string }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {%- endfor -%}

    {%- endif -%}
    {% assign ws = '' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ assets_path }}vendor/jquery/jquery.min.js"></script>
    <script src="{{ assets_path }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ assets_path }}vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="{{ assets_path }}js/jqBootstrapValidation.js"></script>
    <script src="{{ assets_path }}js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ assets_path }}js/agency.min.js"></script>



<!--  Expanding Images in Services Section

    <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    </script>


  -->


  </body>

</html>
