---
layout: default
---
{%- assign assets_path = "/assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}


<!-- Header -->
<header class="masthead rel">
  <div class="pac-container">
    <div class="intro-text">
      <h1 style="display:none;">{{ page.title }}</h1>
      <div style="display: flex; justify-content: center;">
        <img alt="PacConcept Logo" class="img-fluid logo" src="{{ site.data.home.intro.logo }}" style="" />
      </div>
    </div>
    <div style="justify-content: center;">
      <img alt="customised digital packaging solutions" class="pac-slogan" src="{{ site.data.home.intro.logo-slogan }}" style="" />
    </div>
<!--    <div class="row text-center services">
      {%- for service in site.data.home.services.service -%}
      <div class="col-md-3 col-sm-6 col-6">
        <a class="js-scroll-trigger" href="#{{ service.id }}">
          <span class="service-icons">
            <img alt="PacConcept Services Icons" src="{{ service.icon }}">
          </span>
          <h4 class="service-heading">{{ service.heading }}</h4>
        </a>
      </div>
      {%- endfor -%}
    </div> -->
  </div>
  <div class="arrow-down">
    <a href="#diff" class="nav-link js-scroll-trigger"><i class="fal fa-chevron-double-down fa-3x"></i></a>
  </div>
</header>

<!-- The Difference -->
<section id="{{site.data.home.diff.id}}" class="pac-section">
  <div class="page-main-header header-difference">
      <video class= "loop-video-diff" autoplay loop muted playsinline>  <!-- "playsinline" for iPhone -->
        <source src="/assets/video/paperclip_.mp4" type="video/mp4">
      </video>
      <h2 class="text-uppercase">{{site.data.home.diff.heading}}</h2>
  </div>
  <div class="pac-container pac-text-justify row-difference">
    <div class="row pac-text-justify pac-content-diff1">
      <p> {{ site.data.home.diff.text1 }} </p>
    </div>
    <div class="pac-content-diff2">
      <p>
        <i class="fal fa-angle-right fa-2x"></i>
        <span>{{ site.data.home.diff.text1a }}</span>
      </p>
    </div>
    <div class="pac-content-diff2">
      <p>
        <i class="fal fa-angle-right fa-2x"></i>
        <span>{{ site.data.home.diff.text1b }}</span>
      </p>
    </div>
    <div class="row pac-text-justify pac-content-diff1">
      <p> {{ site.data.home.diff.text2 }} </p>
    </div>
    <div class="pac-content-diff2">
      <p>
        <i class="fal fa-angle-right fa-2x"></i>
        <span>{{ site.data.home.diff.text2a }} </span>
      </p>
    </div>
  </div>
</section>


 <!-- Services -->
 <section id="{{site.data.home.serv.id}}" class="pac-section">
    <div class="page-main-header header-services">
      <h2 class="heading-text text-uppercase">{{site.data.home.serv.heading}}</h2>
    </div>
    <div class="pac-container">
      <div class="row-flex row-flex-main">
    <!-- Left Side with Display of Images as "Thumbprints"-->
        <div class="row-flex-column row-flex-column-l" data-toggle="modal" data-target="#exampleModal">
          <div class="row-flex">
            <div class="row-flex-column-img">
               <img alt="3D Visualisation 1" class="img-fluid img-fluid-services" src="/assets/img/portfolio/brake.png" data-target="#carouselExample" data-slide-to="0">
               <img alt="3D Visualisation 2" class="img-fluid" src="/assets/img/portfolio/foam.png" data-target="#carouselExample" data-slide-to="1">
            </div>
            <div class="row-flex-column-img">
              <img alt="3D Visualisation 3" class="img-fluid img-fluid-services" src="/assets/img/portfolio/display.png" data-target="#carouselExample" data-slide-to="2">
            </div>
          </div>
          <div class="row-flex row-center">
            <video class= "loop-video" autoplay loop muted playsinline data-target="#carouselExample" data-slide-to="3">  <!-- "playsinline" for iPhone -->
              <source alt="3D Animation" type="video/mp4" src="/assets/video/animation_.mkv">
            </video>
          </div>
          <div class="row-flex">
            <div class="row-flex-column-img">
              <img alt="3D Visualisation 4" class="img-fluid img-fluid-services" src="/assets/img/portfolio/cpart-1.png" data-target="#carouselExample" data-slide-to="4">
            </div>
            <div class="row-flex-column-img">
              <img alt="3D Visualisation 5" class="img-fluid img-fluid-services" src="/assets/img/portfolio/cpart-2.png" data-target="#carouselExample" data-slide-to="5">
            </div>
          </div>
        </div>
    <!-- Display of Images in Carousel-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-services" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="carouselExample" class="carousel slide" data-ride="carousel"> <!-- data-interval is the time before the carousel turns-->
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExample" data-slide-to="1"></li>
                    <li data-target="#carouselExample" data-slide-to="2"></li>
                    <li data-target="#carouselExample" data-slide-to="3"></li>
                    <li data-target="#carouselExample" data-slide-to="4"></li>
                    <li data-target="#carouselExample" data-slide-to="5"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active img-small">
                      <img class="" src="/assets/img/portfolio/brake.png" alt="3D Visualisation 1">
                    </div>
                    <div class="carousel-item img-small">
                      <img class="" src="/assets/img/portfolio/foam.png" alt="3D Visualisation 2">
                    </div>
                    <div class="carousel-item img-long">
                      <img class="" src="/assets/img/portfolio/display.png" alt="3D Visualisation 3">
                    </div>
                    <div class="carousel-item">
                      <video class= "loop-video" autoplay loop muted playsinline>  <!-- "playsinline" for iPhone -->
                        <source alt="3D Animation" src="/assets/video/animation_.mkv" type="video/mp4">
                      </video>
                    </div>
                    <div class="carousel-item img-cpart">
                      <img class="" src="/assets/img/portfolio/cpart-1.png" alt="3D Visualisation 4">
                    </div>
                    <div class="carousel-item img-cpart">
                      <img class="" src="/assets/img/portfolio/cpart-2.png" alt="3D Visualisation 5">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    <!-- Right Side with Text-->
        <div class="row-flex-column row-flex-column-r pac-text-justify pac-content-diff1">
          <div> <p> {{ site.data.home.serv.text1 }}</p> </div>
          <pac-hr> </pac-hr>
          <div> <p> {{ site.data.home.serv.text2 }}</p> </div>
          <pac-hr> </pac-hr>
          <div> <p> {{ site.data.home.serv.text3 }}</p> </div>
          <pac-hr> </pac-hr>
          <div> <p> {{ site.data.home.serv.text4 }}</p> </div>
          <pac-hr> </pac-hr>
          <div> <p> {{ site.data.home.serv.text5 }}</p> </div>
        </div>
      </div>
    </div>
</section>


<!-- Benefits -->
<section id="{{site.data.home.benefits.id}}" class="pac-section">
  <div class="page-main-header header-benefits">
    <h2 class="heading-text text-uppercase">{{site.data.home.benefits.heading}}</h2>
  </div>
  <div class="pac-container">
    <div class="pac-text-justify pac-content-benefits">
      <div class="row-benefits">
        <img class="benefits-icon" src="/assets/img/benefits/trash.svg">
        <p> {{ site.data.home.benefits.text1 }}</p>
      </div>
      <div class="row-benefits">
        <img class="benefits-icon" src="/assets/img/benefits/truck.svg">
        <p> {{ site.data.home.benefits.text2 }}</p>
      </div>
      <div class="row-benefits">
        <img class="benefits-icon" src="/assets/img/benefits/talk.svg">
        <p> {{ site.data.home.benefits.text3 }}</p>
      </div>
      <div class="row-benefits">
        <img class="benefits-icon" src="/assets/img/benefits/digital.svg">
        <p> {{ site.data.home.benefits.text4 }}</p>
      </div>
      <div class="row-benefits">
        <img class="benefits-icon" src="/assets/img/benefits/save.svg">
        <p> {{ site.data.home.benefits.text5 }}</p>
      </div>
    </div>
  </div>
  <pac-hr2> </pac-hr2>
</section>


<!-- C-Part Management
 <section id="{{site.data.home.cpart.id}}" class="pac-section">
   <div class="pac-container">
     <div class="row">
       <div class="col-lg-12 text-center pac-header">
         <img alt="C-Part Management Icon" class="service-icon-top" src="/assets/img/services/pac-pallet.svg">
         <h2 class="section-heading text-uppercase">{{site.data.home.cpart.heading}}</h2>
       </div>
     </div>
     <div class="row pac-text-justify pac-content">
       <p>{{ site.data.home.cpart.text }}</p>
     </div>
     <div class="row">
        <div class="col-md-6 col-sm-6 portfolio-item">
            <img alt="C-Part Example 1" class="img-fluid-cpart" src="/assets/img/cpart/cpart-1.png" alt="">
        </div>
        <div class="col-md-6 col-sm-6 portfolio-item">
            <img alt="C-Part Example 2" class="img-fluid-cpart last-cpart" src="/assets/img/cpart/cpart-2.png" alt="">
        </div>
      </div>
   </div>
</section> -->


<!-- Slogan 2 -->
<section id="slogan2" class="pac-slogan2">
<!--      <img class="mx-auto" src="{{ site.data.home.intro.logo-slogan }}">  -->
  <div class="pac-container">
    <div class="row pac-slogan2-text">
      <blockquote>{{ site.data.home.slogan2.text }}</blockquote>
    </div>
  </div>
</section>

<!-- Team -->
<section id="about" class="pac-section">
  <div class="pac-container pac-team">
      {%- for member in site.data.home.team.members -%}
      {% assign ws = '' %}
        <div class="team-member pac-mail">
          <img alt="Henriette Peter Image" class="mx-auto rounded-circle-team" src="{{ assets_path }}{{ member.img }}" alt="">
          <h2 class="section-heading">{{ member.name }}</h2>
          <div class="row pac-text-justify pac-content-about">
            <p>{{ member.role }}</p>
          </div>
          <ul class="list-inline social-buttons">
            {%- for sm in member.social-buttons -%}
            {% assign ws = '' %}
            <li class="list-inline-item">
              <a href="{{ sm.url }}">
                <i class="{{ sm.icon }}"></i>
              </a>
            </li>
            {%- endfor -%}
          {% assign ws = '' %}
          </ul>
        </div>
      </div>
      {%- endfor -%}
    {% assign ws = '' %}
  <div class="monster-div">
    <a href="{{ top-page }}">
      <img class="monster" src="/assets/img/monster_5.png" alt="">
    </a>
  </div>
</section>


<!-- Contact -->
<section id="contact">
  <div class="pac-container">
    <div class="row">
      <div class="col-lg-12 text-center pac-contact-header">
        <h2 class="section-heading text-uppercase">{{ site.data.home.contact.heading }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div>
          <p>
            <a href="mailto:mail@pacconcept.com" class="btn btn-primary pac-btn text-uppercase">Message</a>
          </p>
        </div>
        <div class="pac-content-contact">
          <p> mail [at] pacconcept.com </p>
        </div>
      </div>
    </div>
    {% include  share.html %}
  </div>
</section>
